* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	color: black;
}

#header-nav {
	min-height: 67px;
	width: 100%;
	border: 0;
	border-bottom: solid 3px black;
	border-radius: 0;
	font-size: 30px;
	font-weight: bold;
}

#header-nav > .container {
	margin: 0;
	padding: 0;
}

.container > .navbar-header {
	height: 67px;
	width: 100vw;
	padding: 10px 30px;
	margin: 0;
	background-color: gray;
}

.navbar-default .navbar-toggle {
	border-color: black;
	border-width: 2px;
	margin: 4px 0;
	padding: 9px 5px;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: black;
	height: 4px;
	width: 30px;
}

#collapsable-nav {
	margin: 0;
}

#nav-list {
	margin: 0 0 -1px 0;
	border-top: solid 3px black;
}

.navbar-default .navbar-nav > li > a {
	background-color: white;
	text-align: center;
	color: black;
	font-size: 18px;
	border-bottom: solid 1px black;
}

#menu {
	width: 100%;
	padding: 0 30px;
}

#menu-header {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 15px;
}

.item {
	min-height: 220px;
	background-color: gray;
	padding: 15px;
	font-size: 16px;
	overflow: hidden;
	margin-bottom: 15px;
}

.item h3 {
	margin-top: 0px;
	color: black;
}

/* Desktop layout */
@media (min-width: 992px) {
}

/* Tablet layout */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Mobile layout */
@media (max-width: 767px) {
}
